@page
@model StudentClassManager.WebUI.Pages.Class.GetModel

@if (TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<a class="btn btn-success mt-2" asp-page="ClassCreate">Cadastrar</a>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Ano</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var retrievedClass in Model.Classes)
            {
                <tr>
                    <td>@retrievedClass.Id</td>
                    <td>@retrievedClass.ClassName</td>
                    <td>@retrievedClass.Year</td>
                    <td class="d-flex gap-1">
                        <form method="post" asp-page-handler="Delete" asp-route-id="@retrievedClass.Id">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja inativar esse aluno?')">Inativar</button>
                        </form>
                        
                        <a class="btn btn-primary" asp-page="ClassUpdate" asp-route-id="@retrievedClass.Id">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>