@page
@model StudentClassManager.WebUI.Pages.Student.GetModel

<a class="btn btn-success" asp-page="StudentCreate">Cadastrar</a>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Usuário</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Students)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                    <td>@student.UserName</td>
                    <td class="d-flex gap-1">
                        <form method="post" asp-page-handler="Delete" asp-route-id="@student.Id">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja inativar esse aluno?')">Inativar</button>
                        </form>
                        
                        <a class="btn btn-primary" asp-page="StudentUpdate" asp-route-id="@student.Id">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>